<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title><%= title %> </title>
</head>
<body>
    <%- include('../includes/navigation') %> 


      <!-- sign in -->
     <div class="container">
       <div class="auth-form col-md-6">
         <div class="form-heading">
           <h4>NPFABIS LOGIN</h4>
         </div>
        <form class="main-form" action="/admin/login" method="POST" id="loginform" novalidate>          
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label for="validationServer01">Email</label>
                  <input 
                     type="text"
                     name="email" 
                     class="form-control form-input-bordercolor
                        <% if(validationErrors.length > 0) { %>
                            <%= validationErrors.find(e => e.param === 'email') ? 'is-invalid': 'is-valid' %>
                        <% } %>
                        <% if(loginErrors.length > 0){ %>
                            <%= 'is-valid' %> 
                       <% } %>" 
                     id="validationServer01" 
                     value="<%= oldInputs.email %>">
                     <% if(validationErrors.find(e => e.param === 'email')){ %>
                        <% const message = validationErrors.find(e => e.param === 'email') %> 
                        <div id="validationServer01Feedback" class="invalid-feedback">                     
                          <%= message.msg %> 
                        </div>
                     <% } %> 
                </div>
              </div>  
            </div>
            
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label for="validationServer02">Password</label>
                  <input 
                     type="password" 
                     name="password"
                     class="form-control form-input-bordercolor
                        <% if(validationErrors.length > 0) { %>
                            <%= validationErrors.find(e => e.param === 'password') ? 'is-invalid': 'is-valid' %>
                        <% } %>
                        <% if(loginErrors.length > 0){ %>
                             <%= loginErrors.find(e => e.param === 'password') ? 'is-invalid': 'is-valid' %> 
                       <% } %>" 
                     id="validationServer02" 
                     value="<%= oldInputs.password %>">
                     <% if(validationErrors.find(e => e.param === 'password')){ %>
                        <% const message = validationErrors.find(e => e.param === 'password') %> 
                        <div id="validationServer01Feedback" class="invalid-feedback">                     
                          <%= message.msg %> 
                        </div>
                     <% } %>
                     <% if(loginErrors.find(e => e.param === 'password')){ %>
                        <% const message = loginErrors.find(e => e.param === 'password') %> 
                        <div id="validationServer01Feedback" class="invalid-feedback">                     
                          <%= message.msg %> 
                        </div>
                     <% } %>                    
                </div>
              </div> 
            </div>
                     
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <button class="btn btn-dark col-md-12" type="submit" id="authButton" onclick="clickedAuthButton(event)">Login</button>
              </div>
            </div>              
          </div>
        </form>    
       </div>        
     </div>
    <script src="/bootstrap/js/jquery.js"></script>
    <script src="/bootstrap/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
          function clickedAuthButton(event) {
            //console.log(event, 'event------')
           event.preventDefault();
           const button = document.getElementById('authButton');
           const spanElement = document.createElement('span');
           spanElement.classList.add('spinner-border', 'spinner-border-sm');
           const attributes = ['role', 'aria-hidden'];
           const values = ['status', 'true'];
           for(let i=0; i<attributes.length; i++){
               spanElement.setAttribute(attributes[i], values[i])
           }
           button.setAttribute('disabled', true);
           button.appendChild(spanElement);
           document.forms['loginform'].submit(); 
         }
    </script>
</body>
</html>