
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/animate.css" type="text/css">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <title>Node</title>
    </head>
    <body>
      <%- include('../includes/navigation') %> 


      <div class="container custom-container">
        <div class="row animate__animated animate__zoomIn animate__slow">
          <div class="col-12 col-sm-12 col-md-12">
              <h1 style="text-align: center;">NODE MONITORING</h1>
          </div>
        </div>  
            <% if(sites.length > 0){ %>
              <div class="row custom-card">               
                <% for(let site of sites){ %>
                  <div class="col-12 col-sm-6 col-md-4 card-element" id="card-div">
                    <div class="card main-card" id="main-cardId<%= site._id %>" onmouseover="cardMouseIn(this)" onmouseout="cardMouseOut(this)">
                        <div class="card-body">
                          <input type="hidden" name="siteId" value="<%= site._id %>">
                          <h5 class="card-title"><%= site.state %> Sites</h5>
                          <p class="card-text">View all nodes in <%= site.state %> State</p>
                          <a href="<%= site.url %>" class="btn btn-info card-button-margin-right<% if(!isAuthenticated){ %> <%= 'anchor-button-public'  %> <%} %>" target="_blank">Visit site</a>
                          <% if(isAuthenticated){ %>
                              <a href="/admin/editsite/<%= site._id %>?edit=true" class="btn btn-success card-button-margin-right">Edit</a>
                              <button class="btn btn-danger card-button-margin-right" data-toggle="modal" data-target="#deletesite" onclick="siteData(this)">Delete</button>
                          <% } %>                          
                        </div>
                      </div>
                  </div>
                <% } %>
               </div>
                 <!-- Modal -->
                 <div class="modal fade" id="deletesite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Site</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="autoclosemodal">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure to delete Site?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="delSiteData()" id="confirmdeletesite">Delete</button>
                      </div>
                    </div>
                  </div>
                </div> 
            <% } else { %>
                <h3>Site is empty!</h3>
                <a href="/admin/addsite" class="btn btn-info">Add Site</a>
            <% } %>          
       </div>

    <script src="/bootstrap/js/jquery.js"></script>
    <script src="/bootstrap/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/admin.js"></script>
    <script>
      //document.cardStyle = null;
      function cardMouseIn(card) {
        console.log(card)
        card.classList.add('card-mouse-in');
      }
      function cardMouseOut(card) {
        console.log(card)
        card.classList.remove('card-mouse-in');
      }
    </script>
  </body>
</html>

